<html>
<center><h1>Automatic Number Plate Recognition</h1><center>
   <body>
      <center><form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form><center>
         <br>
         <br><center><a href="http://127.0.0.1:5000/register" style="border: 1px;color:black" type="button" >Register User</a></center>
         <br><center><a href="http://127.0.0.1:5000/viewnumbersreg">Show registered numbers</a></center>
   </body>
</html>